<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>User List</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.4/css/all.css">

	<link rel="stylesheet" href="js/index.css">
</head>

<body>
	<nav class="navbar navbar-expand sm navbar-light gb-light sticky-top">
		<div class="container">
			<a class="navbar-branch" href="#">
				<img th:src="@{/img/logo.png}" height="120">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarReponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="#navbarReponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/logout}">Logout</a>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<br>

	<div class="container">
		<div class="form-group text-center">
			<form th:action="@{/listUsers}">
				Filter: <input type="text" name="keyword" require />
				&nbsp;
				<input type="submit" value="Search" />
				&nbsp;
				<input type="button" value="Clear" onclick="clearFilter()" />
			</form>
		</div>

		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th scope="col">IDUser</th>
					<th scope="col">FirstName</th>
					<th scope="col">LastName</th>
					<th scope="col">UserName</th>
					<th scope="col">BoxName</th>
					<th scope="col">Parcel</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user:${listUsers}">
					<td th:text="${user.iduser}">ID User</td>
					<td th:text="${user.firstname}">FirstName</td>
					<td th:text="${user.lastname}">LastName</td>
					<td th:text="${user.username}">UserName</td>
					<td th:text="${user.boxname}">BoxName</td>
					<td>
						<a th:href="@{/clear/} +${user.iduser}">Clear</a>
						<span name="parcel" th:text="${user.parcel}"></span>
						<a th:href="@{/add/} + ${user.iduser}">Add</a>
					</td>
					<td>
						<a th:href="@{/updateUser/} + ${user.iduser}">Update</a>
						&nbsp;
						<a th:href="@{/deleteUser/} + ${user.iduser}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="form-group text-center">
			<form th:action="@{/}" content-position-center>
				<div>
					Total Items: [[${totalItems}]] - Page: [[${currentPage}]] of [[${totalPages}]]
					&nbsp; - &nbsp;
					
					<a th:if="${currentPage>1}" th:href="@{/pageNumber/1}"> First</a>
					<span th:unless="${currentPage>1}"> First </span>
					&nbsp;
					<a th:if="${currentPage>1}" th:href="@{'/pageNumber/' + ${currentPage-1}}"> Previous</a>
					<span th:unless="${currentPage>1}">Previous</span>
					&nbsp;
					<span th:each="i : ${#numbers.sequence(1,totalPages)}">
						<a th:if="${i!=currentPage}" th:href="@{'/pageNumber/'+${i}}">[[${i}]]</a>
						<span th:unless="${i!=currentPage}">[[${i}]]</span>
						&nbsp;&nbsp;
					</span>
					&nbsp;
					<a th:if="${currentPage<totalPages}" th:href="@{'/pageNumber/'+${currentPage + 1}}"> Next</a>
					<span th:unless="${currentPage<totalPages}">Next</span>
					&nbsp;
					
					<a th:if="${currentPage<totalPages}" th:href="@{'/pageNumber/'+${totalPages}}"> Last</a>
					<span th:unless="${currentPage<totalPages}">Last</span>
					
				</div>
		</div>
	</div>
	<footer>
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col-md-6 pt-3">
					<img th:src="@{/img/comit.png}" height="100">
					<hr class="light">
					<p>250 457 xxxx</p>
					<P>cachecreekpo@gmail.com</P>
				</div>
				<div class="col-md-4">
					<hr class="light">
					<h3>Open hours</h3>
					<hr class="light">
					<p>Monday-Friday: 8am-5pm</p>
					<P>Weekend: 8am-12am</P>
				</div>

				<div class="col-12">
					<hr class="light-100">
					<h5>&copy; Post Office Cache Creek</h5>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		function clearFilter() {
			window.location = "/listUsers";
		}
	</script>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>>>