<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User screen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.4/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="js/index.css">
</head>

<body>
    <nav class="navbar navbar-expand sm navbar-light gb-light sticky-top">
        <div class="container">
            <a class="navbar-branch" href="#">
                <img th:src="@{/img/logo.png}" height="120">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarReponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="#navbarReponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">User's mails<span class="badge badge-warning ">4</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Index.html">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr class="my-1">
    
    <table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th scope="col">ID User</th>
					<th scope="col">First name</th>
					<th scope="col">Last name</th>
					<th scope="col">UserName</th>
					<th scope="col">Password</th>
					<th scope="col">Address</th>
					<th scope="col">Phone number</th>
					<th scope="col">Email</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td th:text="${user?.idUser}"></td>
					<td th:text="${user?.firstName}"></td>
					<td th:text="${user?.lastName}"></td>
					<td th:text="${user?.userName}"></td>
					<td th:text="${user?.password}"></td>
					<td th:text="${user?.Address}"></td>
					<td th:text="${user?.phoneNumber}"></td>
					<td th:text="${user?.email}"></td>
				</tr>
				
			</tbody>
		</table>
    
    
    
     <hr class="my-1">
    <button class="fun btn-lg" onclick="displayProverb()">Click to have some advices</button>
    <hr class="my-1">
    <div id="text1" style="display: none;">
        <pre class="text-center">
All that glitters is not gold

A picture is worth a thousand words

All good things come to an end
        </pre>
    </div>
    <div id="text2" style="display: none;">
        <pre class="text-center">
Beggars can't be choosers

A journey of a thousand miles begins with a single step

A bird in the hand is worth two in the bush
        </pre>
    </div>
    <div id="text3" style="display: none;">
        <pre class="text-center">
Actions speak louder than words

An apple a day keeps the doctor away
            
An Apple a day keeps the doctor away 
        </pre>
    </div>
    <div id="text4" style="display: none;">
        <pre class="text-center">
Its better to be safe than sorry
            
Better late than never 
            
Actions speak louder than words
        </pre>
    </div>
    <div id="text5" style="display: none;">
        <pre class="text-center">
Do not withhold good from those to whom it is due when it is in your power to act

Above all else, guard your heart, for everything you do flows from it

Deceit is in the hearts of those who plot evil, but those who promote peace have joy
        </pre>
    </div>
    <div id="text6" style="display: none;">
        <pre class="text-center">
You catch more flies with honey than with vinegar
            
Don’t judge a book by its cover
        </pre>
    </div>
    <div id="text7" style="display: none;">
        <pre class="text-center">
Love those who love me, and those who seek me find me

Hatred stirs up conflict, but love covers over all wrongs
        </pre>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-6 pt-3">
                    <img th:src="@{/img/comit.png}" height="100">
                    <hr class="light">
                    <p>250 457 xxxx</p>
                    <P>cachecreekpo@gmail.com</P>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h3>Open hours</h3>
                    <hr class="light">
                    <p>Monday-Friday: 8am-5pm</p>
                    <P>Weekend: 8am-12am</P>
                </div>

                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; Post Office Cache Creek</h5>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function displayProverb() {
            let i = Math.random() * 6 + 1;
            i = i.toFixed(0);
            let s = "text";
            s = s + i;
            document.getElementById(s).style.display = 'block';
        }
    </script>
</body>

</html>